.react-chatbot-kit-chat-container{
    width: 450px;

}
.react-chatbot-kit-chat-message-container{
    overflow: scroll;
}
.react-chatbot-kit-chat-bot-message{
    margin-left: 0;
}

@media only screen and (max-width: 520px){
    .react-chatbot-kit-chat-container{
        width: 80vw;
      
        }
       .react-chatbot-kit-chat-bot-avatar, 
       .react-chatbot-kit-user-avatar-container{
            display: none;
        }
       

}

